{{> head }}
    
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Pirata Informático</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio necessitatibus sint modi id accusamus cupiditate perspiciatis explicabo, nesciunt sunt quia quo quis quibusdam voluptatibus aperiam illo tempore laudantium quam. Expedita?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/pirata-informatico.jpg" alt="img-thumbnail">
        </div>
    </div>

{{> footer }}
